<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="container">
    <!-- Navbar -->
    {% include 'navbar.html' %}

    <h1 class="my-4">Gerenciamento de Professores</h1>
    <p>Este software permite o gerenciamento completo dos professores da sua instituição de ensino. Com ele, você pode:</p>
    <ul>
        <li>Inserir novos professores com suas respectivas disciplinas e emails.</li>
        <li>Listar todos os professores cadastrados.</li>
        <li>Atualizar informações dos professores.</li>
        <li>Excluir professores do sistema.</li>
        <li>Resetar o banco de dados, removendo todos os registros de professores.</li>
    </ul>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
